# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
---
name: "Release"

# Trigger after code is merged. only on main repo
# - does not run on modification (may be just text)
on:
  # No checks for branch or repo - assuming release creation is manual, controlled
  release:
    types:
      - created
  # Also allow for manual invocation for testing
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Release"
    steps:
      - uses: actions/checkout@v4
        name: Checkout source
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - uses: gradle/wrapper-validation-action@v1
      # No cache for release code
      # - name: Cache Gradle packages
      #  uses: actions/cache@v2.1.4
      #  with:
      #    path: ~/.gradle/caches
      #    key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
      #    restore-keys: ${{ runner.os }}-gradle
      - name: Build with Gradle & Release artifacts
        # TODO: Need to extend build to make use of release repo for publishing
        run: ./gradlew publish
        # Import secrets needed for code signing and distribution
        env:
          OSSRH_GPG_KEYID: ${{ secrets.OSSRH_GPG_KEYID }}
          OSSRH_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_PASSPHRASE }}
          OSSRH_GPG_PRIVATE_KEY: ${{ secrets.OSSRH_GPG_PRIVATE_KEY }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      # Upload the library so that build results can be viewed
      - name: Upload Connector
        uses: actions/upload-artifact@v3
        with:
          name: Connector
          path: build/libs/*.jar
