# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
---
name: "PR Verification"

on:
  pull_request:
    branches: [main, release-*, feature-*]

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Gradle Java 11"
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Cache Gradle packages
        uses: actions/cache@v2.1.7
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload Connector
        uses: actions/upload-artifact@v2
        with:
          name: Connector
          path: build/libs/*.jar
